<!DOCTYPE html>
<html>
    <head>
        <title>Home - Index</title>
        <link href="css/bootstrap.min.css" ref="stylesheet" />
        <link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/bootstrap-theme.css" rel="stylesheet" />
        <link href="css/fontawesome.css" rel="stylesheet" />
        <link href="css/fontawesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/all.css" />
        <link rel="shortcut icon" type="image/x-icon" href="favicon2.jpg" />
        <link rel="stylesheet" href="Index.css" />
        <script src="js/bootstrap.min.js"></script>
        
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 row">
                <div class="col-lg-3 p-1">
                        <div class="book-card rounded">
                            <img class="book-card-img" src="Img/carousel/thegioiphangwallpaper.jpg" alt="Card image cap">
                            <div class="book-card-body">
                                <h5 class="book-card-title text-">Card title</h5>
                                <div class="book-card-detail">Detail Detail Detail Detail Detail</div> <a href="#"> <div class="formore">...</div></a>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span style="font-size:14px">Số lượng: <b>90</b></span>                                                                           
                                    <p class="m-0"><small class="text-danger"> <b> đ 200000</b></small></p>
                                </div>
                                <div class="btn-group align-self-end">
                                    <a href="#" class="abutton">
                                        <button type="button" class="btn btn-info text-dark border-white">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </a>
                                    <a href="#" class="abutton">
                                        <button type="button" class="btn btn-info text-dark border-white">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
        </div>
    </div>
    

    

    <!-- Script -->
    <div>
            <!-- jQuery library -->
            <script src="js/jquery-3.2.1.slim.min.js"></script>
            <script src="js/jquery.min.js"></script>
            <!-- Popper -->
            <script src="js/popper.min.js"></script>
            <!-- Latest compiled and minified Bootstrap JavaScript -->
            <script src="js/bootstrap.min.js"></script>
            <!-- Initialize Bootstrap functionality -->
            <script>
            // Initialize tooltip component
            $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            })
            // Initialize popover component
            $(function () {
            $('[data-toggle="popover"]').popover()
            })
            </script>
            <!-- Google API -->
            <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
            </div>
            <!-- Script End -->
    <script>
        $('.carousel').carousel();
    </script>
</body>
</html>