<!DOCTYPE html>
<html>
    <head>
        <title>Home - Index</title>
        <link href="css/bootstrap.min.css" ref="stylesheet" />
        <link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/bootstrap-theme.css" rel="stylesheet" />
        <link href="css/fontawesome.css" rel="stylesheet" />
        <link href="css/fontawesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/all.css" />
        <link rel="shortcut icon" type="image/x-icon" href="favicon2.jpg" />
        <link rel="stylesheet" href="Index.css" />
        <script src="js/bootstrap.min.js"></script>
        <style>
                /* Make the image fully responsive */
                .carousel-inner img {
                   width: 600px;
                    height: 250px;
                }
                </style>
    </head>
    <body>
    <div class="container">
        <div class="row"> 
            <div class="col-lg-9">
                    <div id="firstCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#firstCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#firstCarousel" data-slide-to="1"></li>
                            <li data-target="#firstCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="#"><img class="d-block w-100" src="Img/carousel/tiem-do-co-a-xa-tap-3-Banner.jpg" alt="First slide"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="#"><img class="d-block w-100" src="Img/carousel/vi-gio-o-noi-ay-banner.jpg" alt="Second slide"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="#"><img class="d-block w-100" src="Img/carousel/yeu-la-huu-danh-vo-thuc_banner.jpg" alt="Third slide"></a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#firstCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#firstCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
            </div>
        </div>
    

    <!-- Script -->
    <div>
            <!-- jQuery library -->
            <script src="js/jquery-3.2.1.slim.min.js"></script>
            <script src="js/jquery.min.js"></script>
            <!-- Popper -->
            <script src="js/popper.min.js"></script>
            <!-- Latest compiled and minified Bootstrap JavaScript -->
            <script src="js/bootstrap.min.js"></script>
            <!-- Initialize Bootstrap functionality -->
            <script>
            // Initialize tooltip component
            $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            })
            // Initialize popover component
            $(function () {
            $('[data-toggle="popover"]').popover()
            })
            </script>
            <!-- Google API -->
            <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
            </div>
            <!-- Script End -->
    <script>
        $('.carousel').carousel();
    </script>
    </body>
</html>