<div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block">
     <a href="@Url.Action("Index","Cart")" class="btn btn-primary navbar-btn">
          <i class="fa fa-shopping-cart"></i>
          <span><span id="cart-icon">@ViewBag.TotalQuantity</span> sản phẩm </span>
     </a>
</div>