<div id="search" class="collapse">
     <div class="container">
          <form role="search" class="ml-auto">
               <div class="input-group">
                    <input autocomplete=off type="text" placeholder="Tìm kiếm" class="form-control" id="search_box">
                    <div class="input-group-append">
                         <button type="submit" class="btn btn-primary" id="search_btn"><i class="fa fa-search"></i></button>
                    </div>
               </div>
               <div class="autocomplete" id="listAutoComplete"></div>
          </form>
     </div>
</div>
<script src="~/assets/Client/js/controller/autocompete.js"></script>